.formContainer {
  margin: auto;
  width: 50%;
  width: 500px;
  clear: both;
}

.formContainer input {
  width: 100%;
  clear: both;
}

.header {
  text-align: center;
}

.submitButton

.lorumText {
  
}